# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars    # si usas variables con valores sensibles
terraform.tfstate*

# Logs y archivos temporales
*.log
*.backup

# Azure CLI
*.azureprofile

# Otros
*.exe

.bfg-report/
SitioWebEstatico.git/
repo-normal/

